@import "vars";
.label {
  margin: 12px 0;
  font-size: var(--md);
  font-weight: var(--bold-weight);
  color: var(--black);
  text-align: left;
}
.input {
  width: 93%;
  height: 24px;
  padding: 8px;
  border-radius: 12px;
  background-color: var(--text-input-field);
  color: var(--dark);
  text-align: left;
  border: none;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: var(--md);
  margin-bottom: 20px;
}
